<section>
    <div class="fact-weather">
        <div class="title">Actual weather</div>
        <div class="city">
            <span class="city-title"> {{this.weatherDataCh.forCity}}</span>
            <span class="time">{{time}}</span>
        </div>
        <div class="param-temp"> {{this.weatherDataCh.temperatureCelsius}} °C</div>
        <div class="info">
            <div class="press">
                <span class="press-title">Atmospheric pressure</span>
                <span class="press-param"> {{this.weatherDataCh.atmosphericPressurehPa}} hPa</span>
            </div>
            <div class="param">Humidity: {{this.weatherDataCh.humidity}} %</div>
            <div class="wind"><span>Wind</span>
                <span class="speed"> speed:  {{this.weatherDataCh.windSpeed}} m/s</span>
                <div class="direct"> direction: {{this.weatherDataCh.windDirection}} </div>
            </div>
            <div class="icon">
                <img class="images" src={{myImage}}{{this.weatherDataCh.weatherIcon}}.png width="80" />
            </div>
        </div>
    </div>
</section>